<div class="container-fluid">
    <div class="row" >
        <div class="col-12">
            <div class="row">
                <div class="col-10 align-self-start">
                    <img id="refresh-logo" src="assets/images/brsupplies_refreshLogo.png" alt="refresh-logo" height="40">
                    <span id="vertical-line"></span>
                    <span class="heading">Subscription Service Dashboard</span>
                    
                </div>
                <div class="col-2 align-self-end">
                    <div class="row">
                        <div class="col-12">Hi, Name</div>
                        <div class="col-12">
                            <button class="logoutbtn">Logout</button>
                        </div>
                    </div>
                </div>

            </div>
            

        </div>
        
        
        
    </div>
    
</div>

<div class="container-fluid second-header">
    <div class="row align-items-end">
        <div class="col heading-one">
            <p>Power Overview <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg></a></p>
        </div>
        <div class="col-auto heading-help">
            <p>Need Help? Get support</p>
        </div>
    </div>

    <div class="connected-printer">
        <p>Your Connected Printers</p>
    </div>

    

         
    <!-- <select class="col-12 dropdown" type="select" >
        <option>
            <div class="row">
                <div class="col">
                    <img src="/task-one/src/assets/images/bro_logo.png" style="height: 25px;" >
                </div>
                <div class="row">
                    <p>Printer model-name</p>
                </div>
            </div>
        </option>
        <option style="height:50px;"> <img  src="assets/images/brsupplies_refreshLogo.png" alt="refresh-logo" ></option>
        
    </select> -->

      
    

</div>
<!-- <div class="dropdown" data-dropdown="alpha">
    <button class="link" data-dropdown-button="#beta">Information</button>
    <div class="dropdown-menu">
        <p>dropdown content Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis commodi blanditiis voluptatem praesentium odio culpa iste et laborum, nihil tempora consequuntur iure sint! Consequatur dolore voluptatum voluptas dicta sapiente tenetur.</p>
    </div>
</div> -->


<div class="container-fluid">
    <div class="btn-group col-12">
        <button class="btn btn-lg dropdown-toggle dropdown-one" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Large button
        </button>

        <ul class="dropdown-menu col-12">
            <div class="row">
                <div class="col-1 ms-3 me-3">
                    <img src="assets/images/Brother-MFC-J6530DW-30096457-01.jpg" width="70px">
                </div>
                <div class="col">
                    <p style=" margin-bottom: 0;"><b>DCP-L2550DW/ U64966D2A201379</b><br>Plan : Occasional - Device: <b>Offline</b></p>
                </div>
            </div>
        </ul>
    </div>

    

    <div>
        <select type="select" class="col-12">
            <option>
                <ul class="dropdown-menu col-12">
                    <div class="row">
                        <div class="col-1 ms-3 me-3">
                            <img src="assets/images/Brother-MFC-J6530DW-30096457-01.jpg" width="70px">
                        </div>
                        <div class="col">
                            <p style=" margin-bottom: 0;"><b>DCP-L2550DW/ U64966D2A201379</b><br>Plan : Occasional - Device: <b>Offline</b></p>
                        </div>
                    </div>
                </ul>
            </option>
        </select>
    </div>


</div>

<div class="container-fluid">

   
    <div class="row">
        <div class="col">
            <p style="font-size: 15px;"><b>To add a printer to your account, click Add New Printer and complete the setup proccess.</b></p>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-outline-primary">Add New Printer</button>
        </div>
    </div>

    <div class="col pt-4">
        <p style="border-bottom: 2px solid rgb(46, 185, 250); margin-bottom: 1.5px;"><b>Your Printer and Plan Details</b></p>
    </div>

    <div class="row ms-0 me-0" style="background-color: rgb(253, 221, 226);" >
        <div class="col" >
            <p style="color: black; font-weight: bold; font-size: 12px;"> Your printer DCP-L2550DW, U64966D2A201379 is offline. Please check your internet connection to ensure service.
        </div>
        <div class="col-auto" >
            &times;
        </div>

    </div>

    <div class="row mt-3 mb-5">
        <div class="col-3 colum-one">
            <p>DCP-L2550DW</p>
            <p><b>Device Status: </b><span style="color: orange;">Offline</span></p>
            <p style="color: orange;">Printing is limited while device is offline</p>
            <img style="width: 200px;" src="assets/images/Brother-MFC-J6530DW-30096457-01.jpg">
        </div>
        <div class="col-6">
            <p style="margin-bottom: 0;background-color: orange;">Connected Plan: Occasional</p>
            <p style="padding-top: 0; background-color: rgb(248, 221, 170);">$3.49 for <b>100 Pages a Month</b></p>

            <div class="row">
                <div class="col-6 colum-one">
                    <p><b>Pages Printed</b></p>
                    <div class="circle"></div>
                    <p><b>Occasional: 100 pages a month</b></p>
                </div>
                <div class="col-6 colum-one">
                    <p><b>Rollover Pages Printed</b></p>
                    <div class="circle"></div>
                    <p><b>Occasional: 100 pages a month</b></p>
                </div>

            </div>
            

        </div>
        <div class="col-3 colum-one">
            <p style="margin-bottom: 0;"><b>Additional Purchases:</b></p>
            <p>1 set of 20 Pages for <b>$1.00</b></p>
            <p><b>Overage Pages</b></p>
            <div class="circle"></div>
            <p><b>Occasional: 100 pages a Month</b></p>
        </div>
    </div>



    <div class="row mt-2">
        <div class="col p-0">
            <p style="margin-bottom: 0;"><b> Printing more than you expected?</b></p> 
            <p style="color: green; margin-top: 0; font-size: 18px;">Changing your plan is easy!</p>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary" data-modal-target="#modalone">Change Plan</button>
        </div>


    </div>

    <div class="col-12" >
        <p style="border-bottom: 2px solid rgb(46, 185, 250);"><b>Your Details:</b></p>
    </div>
    
    <div class="row pb-2 info">
        <div class="col">
            <h3>Profile Information</h3><br>
            <p><b>Name:</b><br>Rushikesh Giri</p>
            <p><b>Email Address:</b><br>girirushikesh2@gmail.com</p>
            <p><b>Phone Number:</b><br>(983)123-1414</p>
        </div>
        <div class="col" style="border-left: 1px solid rgb(194, 194, 194);">
            <h3>Billing Information</h3><br>
            <p><b>Cardholder Name:</b><br>Rushikesh Giri</p>
            <p><b>Billing Address:</b><br>200 Crossing Blvd<br>Fl 4<br>Bridgewater, NJ 08807</p>
            <p style=" margin-bottom:0;"><b>Connected Payment Type:</b></p>
            <div class="row align-items-start mt-0 pt-0">
                <div class="col-2 ps-1 mt-2" >
                    <img height="30px" src="assets/images/visa.png">
                </div>
                <div class="col mt-0 pt-0" >
                    Credit Card: Visa-1111<br>Expiration: 3/27
                </div>
            </div>                       
            
        </div>
        <div class="col" style="border-left: 1px solid rgb(194, 194, 194);">
            <h3>Shipping Information</h3><br>
            <p><b>Ship to:</b><br>Rushikesh Giri</p>
            <p><b>Shipping Address:</b><br>200 Crossing Blvd<br>Fl 4<br>Bridgewater, Nj 08807-2861</p>
        </div>

    </div>
    <div class="row last-links">
        <div class="col">
            <p>Update Profile Information</p>
        </div>
        <div class="col" style="border-left: 1px solid rgb(194, 194, 194); height:80px">
            <p>Update Billing Information</p>
        </div>
        <div class="col" style="border-left: 1px solid rgb(194, 194, 194); height: 80px;">
            <p>Update Shipping Information</p>
            <p>View Shipping History</p>
        </div>
    </div>

    

    
</div>


<!--
      _______________________ MODAL_______________________ 
-->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col align-self-center">
            
        </div>    
    </div>    
</div> -->


<div class="modalone" id="modalone">
    <div class="row modal-header">
        <div class="col-11">
            <div class="title">Good news!</div>
        </div>
        <div class="col-1">
            <button  style="color: black;" data-close-button class="close-button">&times;</button>
        </div>
    </div>
    
    <div class="modal-body">
        <p>For Printer <b>Model MFC-J1010DW S/N: U64853A2P12</b></p>
        <p>Your <b>Frequent Print Plan</b> has just been upgraded at <b>NO ADDITIONAL COST TO YOU</b>> to our <span style="color: aqua;">High Print Plan</span> for 700 pages per mont!</p>
        <div class="row">
            <div class="col-5 box-one">
                <p style="background-color: black; color: white; font-weight: bold; ">Frequent</p>
                <p style="background-color: rgb(175, 175, 175);">500 Pages/Month</p>
            </div>
            <div class="col-2 arrow-one">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
            </div>
            <div class="col-5 box-two">
                <p style="background-color: rgb(50, 193, 250); color: black; font-weight: bold; ">High</p>
                <p style="background-color: rgb(175, 225, 245)">700 Pages/Month</p>
            </div>

            
        </div>
        <div class="row justify-content-center mt-3">        
            <p style="border: 2px solid red; width: 150px; padding-bottom: 3px;">Happy printing!</p>           
        </div>
        
        
    </div>

</div>
<div id="overlay"></div>

<!-- _______________   Dropdown         _________________ -->



<!-- <div class="dropdown side">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Menu<br>>>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div> -->

<div class="btn-group dropend">
    <button type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
      Menu<br>>>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>