<!-- <div class="company-header-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col align-self-start">
                <div class="company-header">
                    <img id="logo" src="assets/images/bro_logo.png" alt="logo">
                </div>

            </div>
        </div>
    </div>
    

</div>


<div class="company-header-imp-links">
    <div class="container-fluid">
        <div class="row">
            <div class="col align-self-start">
                <div class="imp-links">
                    <a href="https://help.brother-usa.com/app/answers/detail/a_id/172947" target="_blank">FAQs</a>
                    <a href="https://help.brother-usa.com/app/ask_sub" target="_blank">Request Support</a>
                </div>

            </div>
        </div>
    </div>
    

</div> -->



<!--
      _______________________ MODAL_______________________ 
-->
<div class="container-fluid">
    <div class="row">
        <div class="col align-self-center">
            <button data-modal-target="#modalone">Open modal</button>
        </div>    
    </div>    
</div>


<div class="modalone" id="modalone">
    <div class="modal-header">
        <div class="title">Example Modal</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates unde consequuntur exercitationem alias? Ut soluta eveniet impedit ea repudiandae inventore iste? Quibusdam aliquam provident ipsa molestiae blanditiis ea modi corporis, cumque earum recusandae laborum eius mollitia atque temporibus consequatur harum aperiam veritatis beatae ipsum inventore placeat odit! Perferendis nulla repudiandae, culpa corrupti ut aliquid dolorum. Sunt atque rerum reprehenderit ex perferendis sed dolorem exercitationem velit iure, vel unde nihil, suscipit error aliquid facere ullam itaque blanditiis. Ullam mollitia nulla earum!
    </div>

</div>
<div id="overlay"></div>

<!-- _______________            _________________ -->