


.container-fluid{
    width: 80%;
    padding: 25px;
}

#refresh-logo{
    display: flexbox;
}

#vertical-line{
    border-left: 2px solid black;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.heading{
    font-size: 30px;
   
}



.logoutbtn{
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    border: 0;
    color: black;
    


}

.heading-one p{
    font-size: 35px;
}

.heading-help p{
    font-size: 15px;
    color: blue;
}


.second-header{
    margin-top: 0;
    padding-top: 0;
}

.connected-printer{
    font-size: 15px;
    font-weight: bold;
}

.dropdown-one{
    border: 1px solid black;
    border-radius: 0;
    text-align: start;
}





.dropend{
    width: 70px;
    margin: 0;
    padding: 0;
    left: 0;
     
    position: fixed;
    top: 20%;
    background-color: blue;
    
}
.sidemenu{
    background-color: blue;
    
    
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color: blue;
}
/* .sidemenu:hover{
    color: rgb(73, 125, 245);
}

/*           _________________modal_______________             */
.modalone{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    
}

.modalone.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.modal-header .title{
    font-size: 1.25rem;
    color: green;
    text-align: center;
}
.modal-header .close-button{
    cursor:pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
    text-align: center;
}

#overlay{
    position:fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;

}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

/* _________________________________________________________ */

/* modal body  boxes and arrow */

.box-one p{
    margin: 0;
    padding: 0;
   
}

.box-two p{
    margin: 0;
    padding: 0;
   
}



.last-links p{
    color: blue;
}

.colum-one{
    text-align: center;
}

/* .circle{

    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: aquamarine;
  

    justify-content: center;
    fill: transparent;
    stroke: black;
    stroke-width: 10;
    
} */
.circleone{

    width: 190px;
    height: 190px;
    border-radius: 50%;
    /* position: relative; */
    background-color: rgb(214, 204, 204);
      
    fill: transparent;
    stroke: black;
    stroke-width: 10;
    
}

.inner-circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    background-color: white;
   
}
.inner-circle p{
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: green;
}

/* .colum-one svg{
    height: 120px;
    width: 120px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.colum-one svg circle{
    fill: transparent;
    stroke: green;
    stroke-width: 10;
    stroke-linecap: round;


} */


.current-printer{
    border: 1px solid black;
}





  
 




  .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 100%;
    justify-content: space-around;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3;
  }
  
  .circle {
    fill: none;
    stroke-width: 2;
    animation: progress 1s ease-out forwards;
  }
  
  .percentage {
    font-family: sans-serif;
    font-size: 4px;
    text-anchor: middle;
    stroke-width: 0 !important;
  }
  
  
  .percentage.plancolor-occasional-text {
      fill: #FEB532 !important;
    }
  
  .percentage.plancolor-moderate-text {
      fill: #FA67F9 !important;
  }
  
  .percentage.plancolor-frequent-text {
      fill: #0C0C0C !important;
    } 
  
  .percentage.plancolor-high-text {
      fill: #33B7F0 !important;
    }
  
  .percentage.plancolor-green-text {
      fill: #0EAA2E !important;
    }
  
  .percentage.plancolor-default-text {
    fill: #666 !important;
  }
  
  
  