
/* .home-body{
    left: 50%;
    
    
    width: 900px;
    background-color: aqua;
} */



.container-fluid{
    width: 900px;
    padding: 25px;
}

#refresh-logo{
    display: flexbox;
}

#vertical-line{
    border-left: 2px solid black;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.heading{
    font-size: 30px;
   
}

.mike{
    background-color: aqua;
}

.logoutbtn{
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    border: 0;


}



/*           _________________modal_______________             */
.modalone{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    
}

.modalone.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.modal-header .title{
    font-size: 1.25rem;
    color: green;
    text-align: center;
}
.modal-header .close-button{
    cursor:pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
    text-align: center;
}

#overlay{
    position:fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;

}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

/* _________________________________________________________ */

/* modal body  boxes and arrow */

.box-one p{
    margin: 0;
    padding: 0;
   
}

.box-two p{
    margin: 0;
    padding: 0;
   
}
