<div class="container-fluid">
    <div class="row" >
        <div class="col-12">
            <div class="row">
                <div class="col-10 align-self-start">
                    <img id="refresh-logo" src="assets/images/brsupplies_refreshLogo.png" alt="refresh-logo" height="40">
                    <span id="vertical-line"></span>
                    <span class="heading">Subscription Service Dashboard</span>
                    
                </div>
                <div class="col-2 align-self-end">
                    <div class="row">
                        <div class="col-12">Hi, Name</div>
                        <div class="col-12">
                            <button class="logoutbtn">Logout</button>
                        </div>
                    </div>
                </div>

            </div>
            

        </div>
        
        
        
    </div>
    <div class="row">
        <div class="col-5">
            <p style="font-size: 40px; padding: 10px;">Plan Overview <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg></p> 
        </div>
        <div class="col-1 ref-arrow">
            

        </div>
    </div>
</div>



<!--
      _______________________ MODAL_______________________ 
-->
<div class="container-fluid">
    <div class="row">
        <div class="col align-self-center">
            <button data-modal-target="#modalone">Open modal</button>
        </div>    
    </div>    
</div>


<div class="modalone" id="modalone">
    <div class="row modal-header">
        <div class="col-11">
            <div class="title">Good news!</div>
        </div>
        <div class="col-1">
            <button data-close-button class="close-button">&times;</button>
        </div>
    </div>
    
    <div class="modal-body">
        <p>For Printer <b>Model MFC-J1010DW S/N: U64853A2P12</b></p>
        <p>Your <b>Frequent Print Plan</b> has just been upgraded at <b>NO ADDITIONAL COST TO YOU</b>> to our <span style="color: aqua;">High Print Plan</span> for 700 pages per mont!</p>
        <div class="row">
            <div class="col-5 box-one">
                <p style="background-color: black; color: white; font-weight: bold; ">Frequent</p>
                <p style="background-color: rgb(175, 175, 175);">500 Pages/Month</p>
            </div>
            <div class="col-2 arrow-one">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
            </div>
            <div class="col-5 box-two">
                <p style="background-color: rgb(50, 193, 250); color: black; font-weight: bold; ">High</p>
                <p style="background-color: rgb(175, 225, 245)">700 Pages/Month</p>
            </div>
        </div>
    </div>

</div>
<div id="overlay"></div>

<!-- _______________            _________________ -->