.company-header-background{
    background-color: #0D2EA0;
    padding: 25px;
    
}


#logo{
    width: 100px;
}




.container-fluid{
    width: 80%;
}


.company-header-imp-links{
    background-color: antiquewhite;
}

.imp-links a{
    text-decoration: none;
    color: black;
    padding-right: 50px;
   
}
.imp-links a:hover{
    color: #0D2EA0;
}
