.company-header-background{
    background-color: blue;
    padding: 25px;
    
}


#logo{
    width: 100px;
}




.container-fluid{
    width: 900px;
}


.company-header-imp-links{
    background-color: antiquewhite;
}

.imp-links a{
    text-decoration: none;
    color: black;
    padding-right: 50px;
   
}
.imp-links a:hover{
    color: blue;
}
