<div class="company-header-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col align-self-start">
                <div class="company-header">
                    <img id="logo" src="assets/images/bro_logo.png" alt="logo">
                </div>

            </div>
        </div>
    </div>
    

</div>


<div class="company-header-imp-links">
    <div class="container-fluid">
        <div class="row">
            <div class="col align-self-start">
                <div class="imp-links">
                    <a href="https://help.brother-usa.com/app/answers/detail/a_id/172947" target="_blank">FAQs</a>
                    <a href="https://help.brother-usa.com/app/ask_sub" target="_blank">Request Support</a>
                </div>

            </div>
        </div>
    </div>
    

</div>